<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="Lorem">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ with resources.Get "scss/main.scss" | toCSS }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}
</head>
  <body>
    <!-- header -->
    {{ partialCached "header.html" . .Section }}
    <!-- /header -->
    <div class="container">
      <main class="py-5" role="main">
        {{ block "main" . }}
          
        {{ end }} 
      </main>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
