{{ define "main" }}
  <!-- main -->
  <div class="jumbotron mt-4"
  >
    <h1 class="display-4">{{ .Title }}</h1>
    {{ with site.Params.description }}
    <p class="lead">{{ . }}</p>
    {{ else }}
    No description
    {{ end }}
  </div>
  <!-- main -->

  {{ $posts := where site.RegularPages ".Type" "posts"  }}
  {{ $featured := where $posts ".Params.featured" true }}
  {{ $featured = first 2 $featured }}
  {{ $posts = complement $featured $posts }}
  <h4>Featured</h4>
  {{ range $featured }}
    {{ $context := dict "Page" . "blue" true }}
    {{ partial "post.html" $context }}
  {{ end }}
  <h4>Posts</h4>
  {{ range $posts }}
    {{ $context := dict "Page" . "blue" false }}
    {{ partial "post.html" $context }}
  {{ end }}
{{ end }}